<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alzheimer Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', path = 'css/style.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body class="container mt-2 px-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
      <div class="container">
        <a class="navbar-brand mb-0 h1" href="#">
          <img src="{{ url_for('static', path = 'img/logo-ede.png') }}" alt="EDE Logo" width="120" height="120" href="/" class="d-inline-block align-text-center" />
          Alzheimer Classifier
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item px-3">
              <a class="nav-link fs-5" href="/home">Home</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link fs-5" href="/about">About</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link fs-5" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-4 mb-5">
        <h1 class="display-4"><strong>Alzheimer Classifier With EfficientNetV2</strong></h1>
        <h2 class="display-6">Upload an MRI scan and analyze it</h2>
      </div>
      <div class="col-md-4 mb-5">
        <img draggable="false" src="https://miro.medium.com/v2/resize:fit:1200/1*IPDUMGQBJU51qBkKP_4uhA.gif" alt="Backprop" class="img-fluid" />
      </div>

      <div class="col-md-8 mb-5">
        <form action="/" method="post" enctype="multipart/form-data">
          <div class="input-group input-group-lg">
            <input type="file" name="file" accept=".jpg,.png" class="form-control form-control-sm" required />
            <button type="submit" class="btn btn-primary btn-xl">Upload and Predict</button>
          </div>
        </form>
      </div>

      {% if prediction_results %}
        <div class="col-md-8">
          <h1 class="display-4">Class Probability Outputs</h1>
          <p class="fs-5">This section presents the analysis report of the uploaded MRI scan using the Alzheimer Classifier model. The following charts show the predicted probabilities for each class.</p>
        </div>

        <div class="col-md-8">
          <div id="chart" class="chart"></div>
          <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
          <script type="text/javascript">
          var graphs = {{ prediction_results | safe }};
          Plotly.plot('chart', graphs, {});
          </script>
        </div>
      {% endif %}

      {% if uploaded_image %}
        <div class="col-md-8">
          <h1 class="display-4">GradCAM Analysis</h1>
          <p class="fs-5">In this section, the GradCAM heatmap analysis is displayed for the uploaded MRI scan. GradCAM provides insight into the regions of the image that contribute most to the model's prediction. The heatmap highlights areas of interest that influenced the model's decision.</p>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-4 px-3 py-3">
            <img src="{{ uploaded_image }}" alt="Uploaded Image" class="img-fluid rounded" height="360" width="360" />
          </div>
          <div class="col-md-4 px-3 py-3">
            <img src="{{ cam_image }}" alt="CAM Image" class="img-fluid rounded" height="360" width="360" />
          </div>
        </div>
      {% endif %}
    </div>
  </body>
</html>
